{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('style', path='scanners.css') }}">

{% endblock %}


{% block content %}

    <div class="scanners__container">
        <h2 class="scanner__container-header">Действия</h2>
        <div class="actions_row">
            <a href="#" class="scanner__button button-link open-popup">Обнаружить службы сканирования</a>
            <button id="button-update" onclick="update_scanners_list();" class="scanner__button button-blue button-update">Обновить список</button>
        </div>
        
        <h2 class="scanner__container-header">Список служб сканирования</h2>
        <div class="scanner__title">
            <span>ID</span>
            <span>Имя</span>
            <span>Статус</span>
        </div>
        <div id="scanner-items" class="scanner__items">
            {% for scanner in scanners %}
            <div id="scanner_{{ scanner.id }}" class="scanner__item">
                <div class="scanner__info">
                    <div>{{ scanner.id }}</div>
                    <div>{{ scanner.name }}</div>
                    {% if scanner.active %}
                        <div class="scanner-active"></div>
                    {% else %}
                        <div></div>
                    {% endif %}

                </div>
                <div></div>
                <div class="scanner__actions">
                    {% if scanner.active %}
                        <button id="btn_use_{{ scanner.id }}" type="submit" class="scanner__button"
                                data-using="{{ scanner.in_use }}"
                                onclick="change_use_scanner({{ scanner.id }});">
                            {% if scanner.in_use %}
                                Не использовать
                            {% else %}
                                Использовать
                            {% endif %}
                        </button>
                    {% else %}
                        <button disabled type="submit" class="scanner__button">Сканнер неактивен</button>
                    {% endif %}
                    <button id="btn_del_{{ scanner.id }}" type="submit" class="scanner__button button-delete button-red"
                            onclick="delete_scanner({{ scanner.id }});">Удалить</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="popup__bg">
        <div class="popup">
            <img src="{{ url_for('style', path='img/close_icon.png') }}" class="close-popup" />
            <label>
                <input id="subnet" type="text" name="subnet" placeholder="192.168.50.0/24">
                <div class="label__text">
                    Подсеть
                </div>
            </label>
            <label>
                <input id="port" type="text" name="port">
                <div class="label__text">
                    Порт службы сканирования
                </div>
            </label>
            <button id="button_hd" class="scanner__button" type="submit" 
                onclick="discovery_scanners();">Искать службы сканирования</button>
        </div>
        <script src="{{ url_for('scripts', path='popup.js') }}"></script>
    </div>
    <script src="{{ url_for('scripts', path='scanner.js') }}"></script>
{% endblock %}
